# Ignore Godot-specific files and directories
export_presets/
*.import/
*.imported/
*.tscn.export/
*.tres.export/
*.shader/
*.mud/
*.import
*.imported
*.bak
*.import_res
*.imported_res
*.imported_material
*.preview
*.gen
*.err
*.vscode/
.sconsign.dblite
__pycache__/
*.zip

# Ignore Visual Studio Code specific files and directories
.vscode/
.settings.json
.history/
.vscodeignore

# Node.js specific
node_modules/

# Python specific
__pycache__/
*.pyc

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
